header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #555;
  text-align: center;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-inline: 200px;
}

p {
  background-color: rgb(255, 255, 255);
}

h2 {
  margin-top: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #555;
}
